* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans';
    color: var(--color-white);
    background: var(--color-bg);
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #848bc82e;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-sidebar-bg-active: #0d0f11;
    --color-sidebar-bg: #1a1c1f;
    --color-bg: #181a1e;
    --color-panel-bg: #222428;
}

/*
body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}
*/


/* Header */

header {
    /*
    position: sticky;
    top: 1em;
    */

    background: var(--color-panel-bg);
    border-radius: 18px;
    margin: 1em 1em 0 1em;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto auto;
}

#header-left {
    /*background: #365f7f;  /*var(--color-panel-bg)*/
    border-radius: 18px 0 0 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    max-height: 60px;
}

nav {
    /*background: #365f7f; /*#F57914*/ /*#365f7f*/ /*#3d6e94*/ /*var(--color-panel-bg)*/
    border-radius: 18px;
    margin: 0.5em 0 0 0;
    grid-area: 2 / 1 / 3 / 3;
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.nav1 {
    transition: all 1s ease;
    height: 15em;
    /*padding: 1em 0 2.5em 0;*/
}

.nav-item {
    padding: 0 0 0.3em 0; /*0.5em*/
    /*border-style: none none solid none;
    border-width: 1px;*/
    transition: all 100ms ease-in-out;
}

.nav-item:hover {
    color: var(--color-info-light);
    /*padding: 0 0 0.3em 0;*/
    border-style: none none solid none;
    border-width: 1px;
}

.active {
    color: var(--color-info-light);
    padding: 0 0 0.3em 0;
    border-style: none none solid none;
    border-width: 1px;
}

header a {
    text-decoration: none;
    color: var(--color-white);
}

#header-right {
    margin: 0 0 0 -10px;
    /*background: #365f7f; /*var(--color-panel-bg)*/
    border-radius: 0 18px 18px 0;
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em;
}

.warenkorb-icon{
    background: #3d6e94;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    display: flex;
    gap: 0.5em;
    align-items: center;
}


/* popover */

.popover-small {
    background: var(--color-panel-bg);
    border-radius: 18px;
    grid-area: 2 / 1 / 3 / 3;
    /* grid-area: 3 / 1 / 4 / 3; */
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.popover-small1 {
    transition: all 1s ease;
    height: 15em;
    padding: 1em 0 2.5em 0;
}

.popover-large {
    display: none;
}

.gear_enable {
    display: none;
}

.gear_disable {
    display: none;
}

.popover-item {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

/* Footer */

footer {
    padding: 0.6em;
    border-radius: 18px;
    margin: 0 1em 1em 1em;
    background: var(--color-panel-bg);
}

@media (min-width: 768px) {

    /* Header */


    header {
        grid-auto-flow: column;
        grid-template-columns: 15% 60% 25%;
        grid-template-rows: auto;

    }

    #header-left {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #burger {
        display: none;
    }

    nav {
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        border-radius: 0;
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        gap: 0;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        transition: none;
    }

    header a {
        text-decoration: none;
        color: var(--color-white);
    }

    #header-right {
        grid-area: 1 / 3 / 2 / 4;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    /* popover */

    /* toggle visibility*/

    .gear_enable {
        display: block;
    }

    .gear_disable {
        display: block;
    }

    #header-right:not(:target) .popover-large {
        visibility: hidden;
    }

    #header-right:target .popover-large {
        visibility: visible;
    }

    #header-right:not(:target) .gear_disable {
        display: none;
    }

    #header-right:target .gear_enable {
        display: none;
    }


    /* popover style */

    #header-right:target .popover-large {
        transform: translate(0px, -1em);
        transition: all 300ms ease-in-out;

    }

    .popover-large {
        background: #3F4049;
        border-radius: 18px;
        padding: 1em 0 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1em;
        width: 10em;
        position: absolute;
        top: 1em;
        margin: 5em 0 0 0;
        z-index: 1;
    }

    .popover-item {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #popover-small {
        display: none;
    }

    .popover-small-toggle {
        display: none;
    }
}