.signup-form {
	width: 600px;
}

body {
	background-color: #181a1e !important;
	color: white !important;
}

.signup-form {
	background-color: #222428;
	border-radius: 15px;
	border-color: #222428;
}

.button-submit {
    background-color: #7380ec !important;
    border-color: #6c77d8 !important;
    color: white;
}

.button-submit:focus, .search-submit:active {
    border-radius: 4px !important;
    border-color: #6c77d8 !important;
}


.button-submit:hover {
    background-color: #6c77d8 !important;
}

.continue-shopping {
    margin: 0.3em 0.5em 0.5em 0.5em;
    color: #ffffff99;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.continue-shopping:hover {
    color: #ffffff66;
	text-decoration: none;
}