body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /*font-weight: 700;*/
}

main {
    /*background: #222428; /*var(--color-panel-bg);
    border-radius: 18px;
    margin: 1em 1em 1em 1em;
    padding: 1em;*/
    margin: 6em 0 6em 0;
    display: flex;
    justify-content: center;
}

.prod-pic-anchor{
    width: 33%;
    height: auto;
}

.prod-pic {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



    .main-content {
        display: flex;
        justify-content: center;
        width: 90%;
        gap: 5%;
    }


    /*Auflistung der Produkte*/

    .products {
        width: 57.5%;
    }

    .products-inner {
        background: var(--color-panel-bg);
        border-radius: 18px;
    }

    .product {
        display: flex;
        padding: 2em;
        gap: 1em;
        height: 10.9em;
    }

    .title_price {
        display: flex;
        width: 67%;
    }

    .prod-title {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2em;
    }

    .fa-trash-can {
        color: #ffffff99;
    }

    .button-trash-can {
        background: inherit;
        color: inherit;
        border: none;
        font: inherit;
        outline: inherit;
        cursor: pointer;
    }

    .form-quantity {
        width: 30%;
    }

    .form-quantity-input {
        width: 60%;
    }

    .prod-price {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .horizontal-line-1 {
        color: #ffffff22;
        margin: 0 5% 0 5%;
    }

    .empty-cart {
        height: 22em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Gesamtpreis*/

    .total {
        width: 37.5%;
    }

    .total-inner {
        background: var(--color-panel-bg);
        padding: 2em;
        border-radius: 18px;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        position: sticky;
        top: 11.0625em;
    }

    .original-price {
        margin: 0.5em 0.5em 0 0.5em;
        display: flex;
        justify-content: space-between;
        color: #ffffff99;
    }

    .discount {
        margin: 0 0.5em 0.5em 0.5em;
        display: flex;
        justify-content: space-between;
        color: #ffffff99;
    }

    .total-price {
        margin: 0.5em 0.5em 0.5em 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .total-price-price {
        font-size: 1.5em;
        font-weight: 700;
    }

    .button-buy {
        margin: 1.5em 0.5em 0.5em 0.5em;
        background: #F57914;
        color: inherit;
        border: none;
        border-radius: 10px;
        height: 3em;
        font: inherit;
        outline: inherit;
        cursor: pointer;
    }

    .button-buy:active {
        background: #F57914CD;
    }

    .button-text {
        font-weight: 700;
    }

    .horizontal-line-2 {
        color: #ffffff22;
        margin: 0.8em 0.5em 0.5em 0.5em;
    }

    .continue-shopping {
        margin: 0.3em 0.5em 0.5em 0.5em;
        color: #ffffff99;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .continue-shopping:hover {
        color: #ffffff66;
    }


@media (min-width: 1280px) {}